.pardingall {
  padding: 10px, 10px, 10px, 10px;
}
.pricetitle {
  font-weight: 600;
}
.pricesubtitle {
  font-size: 14px;
}
.iconstyle {
  position: relative;
  top: 10px;
  left: 10px;
  color: white;
}

.gradient {
  background: rgb(40, 34, 70);
  background: linear-gradient(
    158deg,
    rgb(172, 176, 37) 0%,
    rgb(40, 20, 94) 100%
  );
}

.gradientlight {
  background: rgb(137, 1, 255);
  background: linear-gradient(
    158deg,
    rgb(37, 222, 74) 0%,
    rgb(94, 21, 211) 100%
  );
}

.bgcolor {
  min-height: 100vh;
  background: #eceff1;
  background: linear-gradient(
    158deg,
    rgb(224, 224, 224) 0%,
    rgb(233, 237, 254) 100%
  );
}
